html, body
	// min-width: 320px

html
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body 
	height: 100%
	scroll-behavior: smooth

img
	max-width: 100%
	height: auto

.hidden
	display: none
.align-right
	text-align: right

header,
section,
footer
	max-width: 1920px
	margin: 0 auto
section,
footer
	padding-top: 8em
	padding-bottom: 8em
	text-align: center
	@media only screen and (max-width: 1599px)
		padding-top: 5em
		padding-bottom: 5em
	@media only screen and (max-width: 991px)
		padding-top: 3em
		padding-bottom: 3em
	@media only screen and (max-width: 425px)
		padding-top: 1.5em
		padding-bottom: 1.5em