// Top header info
.top-header-info
	font-size: 1.6rem
	font-weight: bold
	padding: 33px 0
	@media screen and (max-width: 1199px)
		display: none
.logo
	color: $color-accent
	font-family: $font-secondary
	font-size: 3rem
.flex-center-wrap
	display: flex
	align-items: center
.header-info-icon
	margin-right: 16px
	font-size: 2.4rem
	color: $color-accent
.fa-search
	display: block
	text-align: center
	margin-top: 8px
	color: $color-accent
	font-size: 2.4rem

// Header hero
.header-hero
	position: relative
	background-color: #818181
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header-bg.jpg)
	background-size: cover
	background-position: 60%
	padding: 14% 0
	@media screen and (min-width: 1199px)
		background-image: url(../img/header-bg.jpg)

// Header nav
.hamburger
	position: absolute
	top: 0
	right: 0
	outline: none
	z-index: 999
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
		background-color: $color-accent
	@media screen and (min-width: 1199px)
		display: none
nav.header-nav
	position: absolute
	top: 0
	right: 0
	left: 0
	background-color: rgba(0,0,0,.25)
	font-size: 2rem
	font-weight: bold
	text-transform: uppercase
	z-index: 1
	@media screen and (max-width: 1199px)
		background-color: $color-primary
.header-nav ul
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin: 0
	padding: 0
	text-decoration: none
	list-style-type: none
	text-align: center
	@media screen and (max-width: 1199px)
		flex-direction: column
		display: none
		min-height: 100vh
		height: 100%
		margin-top: 60px
@media screen and (max-width: 1199px)
	.openme
		display: block !important
.header-nav li
	flex: 1 0 auto
.header-nav a
	display: block
	padding: 1.1em 0
	height: 100%
	color: #fff
	&:hover,
	&:active
		display: block
		background-color: transparentize($color-accent, 0.5)
		border-bottom: 3px solid $color-accent
		margin-bottom: -3px //removes border jumping

// Header cta
.cta-wrapper
	margin-left: 16%
h1.cta-slogan
	margin-bottom: 0.8em
	color: #fff
	font-size: 7.2rem
	font-weight: bold
	text-transform: uppercase
	@media screen and (max-width: 1200px)
		font-size: 4rem
	span
		color: $color-accent