.section-intro
	margin: 0 auto 5em auto
	max-width: 40em
	.intro-text
		margin-top: 1em
		font-size: 2rem
		padding: 0 0.5em

.mustache
	position: relative
	display: block
	margin: 5px auto 0
	width: 68px
	height: 18px
	background-image: url(../img/mustache.png)
	background-repeat: no-repeat
	&::before,
	&::after
		content: ''
		position: absolute
		display: inline-block
		height: 1px
		width: 90px
		background-color: $color-accent
		top: 12px
	&::before
		margin-left: -150px
	&::after
		margin-left: 60px

// ----------------------------
// About us
// ----------------------------
.info-wrapper
	margin-top: 6em
	@media screen and (min-width: 550px)
		margin-top: 8em
.info-item-box
	position: relative
	margin-bottom: 0.1em
	padding: 4em 1.2em
	background-color: #d5d3d3
	text-align: center
	[class^="info-icon"]
		position: absolute
		margin: 0 auto
		top: -50px
		left: 0
		right: 0
		display: inline-block
		height: 102px
		width: 102px
	.info-icon-1
		background-image: url(../img/info-1.png)
	.info-icon-2
		background-image: url(../img/info-2.png)
	.info-icon-3
		background-image: url(../img/info-3.png)	
	.divider
		display: inline-block
		height: 2px
		width: 8em
		background-color: $color-accent


// ----------------------------
// Numbers
// ----------------------------
.numbers
	padding: 2.2em 0 1.2em 0
	background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../img/numbers-bg.jpg)
	text-transform: uppercase
.numbers-count
	font-family: $font-secondary
	font-size: 6rem
	line-height: 1.1
	font-weight: bold
	color: $color-accent
.numbers-text
	color: #fff
	font-size: 2rem
	@media screen and (max-width: 767px)
		margin-bottom: 1em


// ----------------------------
// Our Services
// ----------------------------
.our-services
	@media screen and (min-width: 1200px)
		// padding-bottom: 20em
		background: url(../img/our-services-bg-man.png), url(../img/our-services-bg.jpg)
		background-repeat: no-repeat
		background-size: cover
		margin-bottom: 1em
.our-services-wrapper
	text-align: left

@media screen and (min-width: 992px)
	[class^="service-item"]
		display: flex
		justify-content: flex-end
		.service-text
			max-width: 25em
	.service-item-right
		text-align: right
		justify-content: flex-start

		[class^="service-icon"]
			order: 2
			margin-right: 0
			margin-left: 1em
	[class^="service-icon"]
		align-self: center
		width: 90px
		height: 90px
		margin-right: 1em
	.service-icon
		&-1
			background-image: url(../img/service-1.png)		
		&-2
			background-image: url(../img/service-2.png)
		&-3
			background-image: url(../img/service-3.png)
		&-4
			background-image: url(../img/service-4.png)					